<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title><%=title%></title>
</head>
<body>
    
<div id="container" >
    <div><h1><%=title%></h1></div> 
    <div class="labels">
        <div>Task</div>
        <div>Due Date</div>
        <div>Choose Category</div>
    </div>
    <form action="/create" method="POST" >
        <div id="form">  
            <input class="input task" name="task" type="text" placeholder="Enter A New Task" required>
            <input class="input duedate" type="date" name="date" required>
            <select class="input select" name="category" id="" required></div>
  
         <!-- <option value="" placeholder="Select a Category "></option> -->
        <option >Personal</option>
        <option >Offical</option>
        <option >School</option>
        <option >Cleaning</option>
        <option >Other</option>
        <!-- <option >Personal</option> -->

        
    </select>
    <input  class="button add" type="submit"  value="Add">
    
    
    </form>
    <form action="/delete" method="post">
    <input class="button delete" type="submit" value="Delete">

   
    
    <ul><% let count=0 %>
        <div id="list_columns">
            <div>Status</div>
            <div id="task">Tasks</div>

            <div>Due Date</div>
            <div >Type</div> 
        </div>
        
        
        <% for (let i of tasks) {%> 
            <%count++%>
           
          <li><input id="status" type="checkbox" name="check" value=<%=i._id%>>
          <div id="task"><%=i.task%></div>

          <div id="date"><i class="	far fa-calendar-alt" aria-hidden="true"></i> <%=i.date%>  </div>
          <div id="category"><%=i.category%></div>
        </li>
   <%}%>
    </form>
    </ul>

    <div id="counter"><%=count%> Tasks Pending</div>
</div>

</body>
</html> 